<div class="card">
  {{!-- allowed when `allowDynamicStyles` is enabled  --}}
  {{!-- template-lint-disable no-inline-styles --}}
  <div class="idea-img" style={{html-safe (concat "background-image: url(" @idea.imageURL ");" ) }} ></div>
  <div class="idea-title">
    <LinkTo @route="idea-details" @model={{@idea.id}}>
      <h1>{{@idea.title}}</h1>
    </LinkTo>
  </div>
  <div class="idea-short-description">
    {{ getExcerpt @idea.description}}
  </div>
  <div class="idea-author">
    <span>Created by: </span>
    <i>
    {{#if this.session.isAuthenticated}}
      <LinkTo @route="user-profile" @model={{this.otherUser.id}}>
        {{this.otherUser.name}}
      </LinkTo>
    {{else}}
      {{this.otherUser.name}}
    {{/if}}
    </i>
  </div>
</div>