<NavBar />
<div class="body">
  <Header />
  {{#if (and this.model this.users) }}
    <Details::Kudos @idea={{this.model}} @users={{this.users}} />
  {{/if}}
  <div class="details-wrapper">
    <div class="card">
      <h1 class="flexible" data-test-details-title>{{this.model.title}}</h1>
      <img alt="project img" src="{{this.model.imageURL}}" class="rounded" data-test-details-img>
      <div class="description" data-test-details-description>
        <p>{{this.model.description}}</p>
      </div>
      <div class="details">
        Number of kudos: <span data-test-details-kudos>{{this.model.numberOfKudos}}</span>
      </div>
      <div class="details">
        Author: <span>
          {{#if (and this.session.isAuthenticated this.otherUser) }}
            <LinkTo @route="user-profile" @model={{this.otherUser.id}}>
              {{this.otherUser.name}}
            </LinkTo>
          {{else}}
            {{this.otherUser.name}}
          {{/if}}
        </span> 
      </div>
    </div>
  </div>
  <Details::Comments @postID={{this.model.id}}/>
</div>
