<NavBar />
<div class="body">
  <Header />
  <Details::Kudos @idea={{this.model}} />
  <div class="details-wrapper">
    <div class="card">
      <h1 class="flexible">{{this.model.title}}</h1>
      <img alt="project img" src="{{this.model.imageURL}}" class="rounded">
      <div class="description">
        <p>{{this.model.description}}</p>
      </div>
      <div class="details">
        Number of kudos: <span>{{this.model.numberOfKudos}}</span>
      </div>
      <div class="details">
        Author: <span>{{this.model.user}}</span> 
      </div>
    </div>
  </div>
  <Details::Comments @postID={{this.model.id}}/>
</div>
