<nav class="menu">
  <div class="logo">
    <LinkTo @route="index">
      IdeaBakers
    </LinkTo>
  </div>
  <div class="main-menu">
    <div class="items-wrapper">
      {{#if @isHomePage}}
        <NavBar::SearchBar @value={{@query}} @onChange={{@setSearchQuery}} />
      {{/if}}
      <div class="button-wrapper">
        {{#if (and this.session.isAuthenticated)}}
          <LinkTo @route="user-profile" @model={{this.currentUser.id}}>
            <div class="user-profile-link-wrapper btn btn-outline-danger" data-test-user-button >
              <div class="user-profile-link-content" data-test-name-in-nav>{{this.currentUser.displayName}}<span><i class="far fa-user"></i></span></div>
            </div>
          </LinkTo>
          <button type="button" class="log btn btn-outline-danger" {{on "click" this.invalidateSession}} data-test-log-out-button>
            <div class="login">Logout  <span class="login-icon"><i class="fas fa-sign-out-alt"></i></span></div>
          </button>
        {{else}}
          <LinkTo @route="log-in">
            <div class="log btn btn-outline-danger" data-test-link-to-log-in>
              <div class="login">Log in  <span class="login-icon"><i class="fas fa-sign-in-alt"></i></span></div>
            </div>
          </LinkTo>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
