<div class="comments-section-wrapper">
  <header><h3>Comments</h3></header>
  {{#if this.session.isAuthenticated}}
    <div class="add-new-comment-wrapper">
      <form class="p-3">
        <label for="commentArea">Add public comment:</label>
        <textarea id="commentArea" name="commentArea" placeholder="Write comment..." onchange={{this.toggleDisable}}/>
        <div class="button-wrapper">
          <button type="button" id="submitButton" onclick={{this.submitComment}} class="btn btn-primary" disabled >Comment</button>
          <button type="button" onclick={{this.cancel}} class="btn btn-dark">cancel</button>
        </div>
      </form>
    </div>
  {{/if}}
  <div class="comments container mt-3">
    {{#if this.findCommentTask.isRunning}}
      <div class="spinner-wrapper">
        <div class="spinner-border"></div>
      </div>
      {{/if}}
    {{#if this.hasComments}}
      {{#each (sort-by 'date:desc' this.comments) as |com|}}
        <Details::Comments::Comment @comment={{com}} @currentUserUID={{this.currentUser.uid}} @removeComment={{this.removeComment}}/>
      {{/each}}
    {{else}}
    <h4>There are no comments yet :(</h4>
    {{/if}}
  </div>
</div>