  <div class="header content-frame bottom">
    <h1>Sign up</h1>
  </div>

  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" value={{this.changeset.name}} onchange={{fn this.setValue}} >
      {{#if this.changeset.error.name}}
        <p class="text-danger">{{this.changeset.error.name.validation}}</p>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname" value={{this.changeset.surname}} onchange={{fn this.setValue}}>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value={{this.changeset.email}} onchange={{fn this.setValue}} >
        {{#if this.changeset.error.email}}
        <p class="text-danger">{{this.changeset.error.email.validation}}</p>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" value={{this.changeset.pswd}} onchange={{fn this.setValue}} >
        {{#if this.changeset.error.pswd}}
        <p class="text-danger">{{this.changeset.error.pswd.validation}}</p>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="pwd">Repeat password:</label>
      <input type="password" class="form-control" id="rpwd" placeholder="Repeat password" name="rpswd" value={{this.changeset.rpswd}} onchange={{fn this.setValue}}>
        {{#if this.changeset.error.rpswd}}
        <p class="text-danger">{{this.changeset.error.rpswd.validation}}</p>
      {{/if}}
    </div>
    <div class="button-wrapper">
      <button type="button" class="btn btn-success log-in-button" onclick={{fn this.register this.changeset}}>Sign up!</button>
      <button type="button" onclick={{fn this.rollback this.changeset}}>Cancel</button>
    </div>
  </form>
