<NavBar @isHomePage={{false}} />
<div class="container">
  <div class="row no-gutters user-data-row">
    <div class="col-11 col-sm-10 col-md-6 user-data-col">
      <div class="card user-card">
        <div class="card-image-wrapper">
          <img src="assets/images/red-background.jpg" class="img-fluid" alt="background img">
          <div class="icon-wrapper rounded-circle">
            <i class="far fa-user"></i>
          </div>
        </div>      
        <div class="container user-data-content">
          {{#if this.findUserDataTask.isRunning}}
          <div class="spinner-wrapper">
            <div class="spinner-border"></div>
          </div>
          {{/if}}
          {{#if this.userData.name}}
            {{#if this.isUpdate}}
              <div class="user-information-wrapper">
                <div class="data-group">
                  <div class="label">Name</div>
                  <div class="user-data">{{this.userData.name}}</div>
                </div>
                <div class="data-group">
                  <div class="label">Surname</div>
                  <div class="user-data">{{this.userData.surname}}</div>
                </div>
                <div class="data-group">
                  <div class="label">Email</div>
                  <div class="user-data">{{this.userData.email}}</div>
                </div>
              </div>
              <div class="button-wrapper">
                <button type="button" onclick={{fn this.toggleUpdate }} class="btn edit-button btn-primary">Edit<i class="fas fa-pencil-alt"></i></button>
              </div>                 
            {{else}}
            <UserProfile::UserForm @userData={{this.userData}} @toggleUpdate={{this.toggleUpdate}} @downloadData={{fn this.downloadData}}/>
            {{/if}}
          {{/if}} 
        </div>
      </div> 
    </div>
  </div>
</div>
