<form>
  <UserForm::Field
    @label='Name'
    @type='text'
    @name='name'
    @onChange={{this.setValue}}
    @changesetError={{@changeset.error}}
    @placeholder={{@userData}}
  />
  <UserForm::Field
    @label='Surname'
    @type='text'
    @name='surname'
    @onChange={{this.setValue}}
    @changesetError={{@changeset.error}}
    @placeholder={{@userData}}
  />
    <UserForm::Field
    @label='Email'
    @type='email'
    @name='email'
    @placeholder={{@userData}}
    @onChange={{this.setValue}}
    @changesetError={{@changeset.error}}
    @disabled={{@disableEmail}}
  />
  {{#unless @isGoogleUser}}
      <UserForm::Field
    @label='Password'
    @type='password'
    @name='pswd'
    @onChange={{this.setValue}}
    @changesetError={{@changeset.error}}
  />
  <UserForm::Field
    @label='Repeat password'
    @type='password'
    @name='rpswd'
    @onChange={{this.setValue}}
    @changesetError={{@changeset.error}}
  />
  {{/unless}}

  {{#if @userData}}
    <div class="form-group">
    <label for="avatar">Your avatar</label>
    <input type="file" class="avatar" id="avatar" name="avatar" accept="image/png, image/jpeg" onchange={{fn this.encodeImageFileAsURL}}>
  </div>
  {{/if}}
  <div class="button-wrapper">
    <button type="button" class="btn btn btn-success button" onclick={{fn this.sendData}}>Save</button>
    <button type="button" class="btn btn-danger button" onclick={{fn this.cancel}} >Cancel</button>
  </div>
</form>